/*This CSS Creates Vertical containers*/

.flexcontainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    padding: 50px;
}
.flexcontainer > div{
    flex-basis: 1%;
    flex-grow: 1;
    margin: 5px;
    color: black;
    background-color: gray;
    display: flex;
    align-items: center;    
}
.flexcontainer > div > p{
    text-align: center;
    width: 100%;
    padding: 5px;
} 
.flexcontainer > div:nth-child(odd){
    background-color: lightgray;
}
.flexcontainer > div:nth-child(even){
    background-color: dimgray;
}

/*This CSS Creates Horizontal containers*/

/*

.flexcontainer {
    display: flex; 
    flex-direction: column;
    padding: 50px;
}
.flexcontainer > div{
    flex-shrink: 0;
    margin: 5px;
    color: white;
    background-color: gray;
    display: flex;
    align-items: center;
    height: 50px;    
}
.flexcontainer > div > p{
    text-align: center;
    width: 100%;
} 
.flexcontainer > div:nth-child(odd){
    background-color: lightgray;
}
.flexcontainer > div:nth-child(even){
    background-color: dimgray;
}

*/
