body, html{
    margin:0;
    font:1em "Open Sans", sans-serif;    
}

.content{
    padding:30px;
}

.nav-main{
    width: 100%;
    background-color: #222;
    height: 60px;
    color: white;
}
.nav-main .logo{
    float: left;
    height: 30px;
    padding: 10px 30px;
    font-size: 1.4em;
    line-height: 40px;
    
    
}

.nav-main > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.nav-main > ul > li {
    float: left;
}

.nav-item{
    display: inline-block;
    padding: 10px 20px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #444;
}

.nav-content{
    position:absolute;
    top: 60px;
    overflow: hidden;
    background-color: #222;   
    max-height: 0;
}

.nav-content a {
    color:#818181;;
    text-decoration: none;    
}

.nav-content a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    transition: 0.3s;
}

.nav-sub {
    padding: 20px;
    
}

.nav-sub ul {
    padding: 0;
    margin: 0;
    list-style-type: none;    
}

.nav-sub ul li a {
    display: inline-block;
    padding: 5px 0px;    
}

.nav-item:focus{
     background-color: #444;
}

.nav-item:focus ~ .nav-content{
    max-height: 400px;
    -webkit-transition: max-height 0.4s ease-in; 
    -moz-transition: max-height 0.4s ease-in; 
    transition: max-height 0.4s ease-in; 
}

/*SideNav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*Three line mobile menu span*/

#mobilemenu {
    display: none;
    position: fixed;
    color: #f1f1f1;
    font-size: 40px;
    cursor: pointer;
    right: 10px
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}    
    
}


@media screen and (max-width: 800px){
    #mobilemenu {
    display: initial;
        
    }
    div.nav-main {
        display: none;
    }
    
    #mysidebarnav{
        display: initial;
        
    } 

}

#mysidebarnav{
    display: none;        
}

